
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://ozyanginci.com.tr/wp-content/uploads/2019/05/samandira-catiinsaat.png" alt="" width="200" height="150">
        <h1 class="display-5 fw-bold">Kardeşler İnşaat</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Yaşam Mimarı</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/steel/index" class="btn btn-primary btn-lg px-4 gap-3">Çelik Listesi</a>
                <a href="/cement/index" class="btn btn-success btn-lg px-4 gap-3">Çimento Listesi</a>

            </div>
        </div>
    </div>
</body>
</html>
